<!-- CSS -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<footer class="page-footer grey darken-4">
  <div class="container" id="aboutapp">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About the App</h5>
        <p class="grey-text text-lighten-4">Transform, Visualize, and train robust machine learning models on your own Data!</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect With Me</h5>
        <ul>
          <li><a href="https://www.facebook.com/abdelilah.Hs" target="_blank" class="white-text"><i class="fab fa-facebook fa-4x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/hssassa-abdelilah-b91a1521b/" target="_blank" class="white-text"><i class="fab fa-linkedin fa-4x"></i></a></li>
          <li><a href="mailto:abdelilah0hssassa@gmail.com" target="_blank" class="white-text"><i class="material-icons" style="font-size:48px;color:red">mail</i></a></li>
          <li><a href="https://github.com/HSSASSA" target="_blank" class="white-text"><i class="fab fa-github-square fa-4x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Instagram <a class="white-text text-lighten-3" href="https://jcharistech.wordpress.com"></a>
      <i class="fa fa-instagram" style="font-size:48px;color:rgb(255, 0, 238)"></i>ABDELILAH HSSASSA<br/>
    </div>
  </div>
</footer>